.row-margin-2 {
    margin-left: 20px;
}

.margin10 {
    margin: 10%;
}

.category_img {
    width: 20%;
    min-width: 2em;
    margin: 0.5em;
}

.max-width-120 {
    max-width: 120px;
}

.expense-btn {
    float: right;
    margin-right: 3%;
}

.delete-button {
    cursor: pointer;
}

td {
    align-content: "center";
}

.col-centered{
    margin: auto;
    text-align: center;
  }